<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="css/Header.css">
    <link rel="stylesheet" href="css/Footer.css">
    <link rel="stylesheet" href="css/Sidebar.css">
</head>
<body>
    <div class="header-wrapper">
        <div class="header" style="background-color: #aa9a5f">
            <div class="homebutton">
                <a href="/">
                    <img src="images/logo.webp" alt="Logo" class="logo" style="border: 2px solid #aa9a5f;">
                </a>
            </div>
            <div class="dropdowntest">
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/forbruger">Begræns madspild i hjemmet</a>
                        <a href="/organisation">Organisation</a>
                        <a href="/virksomhed">Virksomhed</a>
                        <a href="#footer-wrap">Bliv aktiv</a>
                    </div>
                </div>
            </div>
            <form class="search-form" action="/searchErrorPage" method="GET">
                <input type="text" name="query" placeholder="Søg..." class="search-input">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </div>
    </div>
    <div class="banner">
        <img src="Glutenfri-madvarer.jpg" alt="Banner image">
    </div>
    <main>
        <div class="content">
            <section class="main-content">
                <h1>Om madspild</h1>
                <p>Hvorfor er det en god idé at mindske dit madspild? Fordi:</p>
                <ul>
                    <li>Den gennemsnitlige familie vil spare 7.000 kr. om året ved at mindske madspild.</li>
                    <li>Du vil spare tid i madindkøb hver måned</li>
                    <li>Du vil være med til at mindske miljøbelastning og CO2-udledning.</li>
                </ul>
                <p>"Der er mad nok i verden, og alligevel sulter millioner. Hvis vi ikke gør noget drastisk, kan det betyde en katastrofe for kloden" – FN's Generalsekretær Ban Ki-moon.</p>
                <p>Hvert år smider butikker i Danmark omkring 163.000 ton mad ud. Flere supermarkeder er begyndt at lave super-tilbud på varer, som nærmer sig sidste salgsdato, eller give dem væk gratis. På den måde er de med til at mindske madspildet.</p>
                <p>Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne
                    261.000-ton pr. år.</p>
                <p>Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.</p>
                <p>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</p>
                <ul>
                    <h3>Oversigt over madspild:</h3>
                    <li>Middagsrester med fisk, fjerkræ og kød: 14 procent.</li>
                    <li>Friske grøntsager: 13 procent.</li>
                    <li>Brød og kager: 12 procent.</li>
                    <li>Frisk frugt: 9 procent</li>
                    <li>Kartofler og grøntsager, der er bagt, stegt eller kogt: 8 procent.</li>
                    <li>Mejeriprodukter: 5 procent.</li>
                    <li>Pålæg af fisk, fjerkræ og kød; 4 procent.</li>
                    <li>Slik, nødder, rosiner og andre tørprodukter: 4 procent.</li>
                    <li>Fersk og frossen fisk, fjerkræ og kød: 3 procent.</li>
                    <li>Brød med pålæg, for eksempel fra madpakker: 3 procent.</li>
                </ul>
            </section>
            <aside class="sidebar">
                <div class="sidebar-menu">
                    <h3>Naviger videre</h3>
                    <ul>
                        <li><a href="/">Hjem</a></li>
                        <li><a href="/info" style="font-weight: bold">Om madspild</a></li>
                        <li><a href="/forbruger">Begræns madspildet i hjemmet</a></li>
                        <li><a href="/organisation">Tips, Tricks & Organisationer</a></li>
                        <li><a href="/virksomhed">Mindre madspild i det professionelle miljø</a></li>
                        <li><a href="#footer-wrap">Bliv aktiv</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </main>

    <footer>
        <div class="footer" style="background-color: #71673f">
            <div class="footer-content">
                <div>
                    <h4>Stop madspild</h4>
                    <p>Danmark mod Madspild er en organisation,
                        der arbejder for at reducere madspild i Danmark gennem oplysning,
                        partnerskaber og konkrete initiativer. Organisationen engagerer både
                        virksomheder og forbrugere i indsatsen for en mere bæredygtig fremtid.
                    </p>
                </div>
            </div>
            <div class="footer-wrap" id="footer-wrap">
                <h4>Bliv aktiv</h4>
                <a href="" class="cta">Bliv frivillig</a>
                <br>
                <a href="" class="cta">Bliv støttemedlem</a>
                <br>
                <a href="" class="cta">Bliv samarbejdspartner</a>
                <br>
                <a href="" class="cta"> Bliv erhvervspartner</a>
                <br>
            </div>
            <div class="footer-kontakt-os">
                <h4>Kontakt os</h4>
                <p>Adresse: xx,
                    xx 1,
                    1234 xx</p>
                <p>Email:
                <p>Telefon: 12345678</p>
            </div>
        </div>
        <div class="footer-bottom" style="background-color: #71673f">
            <p>© 2024 Danmark mod Madspild</p>
        </div>
    </footer>
</body>
</html>